.navigation {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  a {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: #a7a2a2;
    color: #fff;
    text-decoration: none;;
  }
}